# Ignore files w/o extensions
*
!*.*
!*/
codeforces/codeforces.db
*.o

# Ignore everything
#*

# But not these files...
# !**.cpp
# !**.cc
# !**.out
# !**.in
# !**.java
# !**.iml
# !**.sample_out
# !*/
# !.gitignore
