# Ignore files w/o extensions
*
!*.*
!*/
codeforces/codeforces.db
*.o
.c9
*.exe
*.dSYM
testcase.json

# Ignore everything
#*

# But not these files...
# !**.cpp
# !**.cc
# !**.out
# !**.in
# !**.java
# !**.iml
# !**.sample_out
# !*/
# !.gitignore
